#----------------------------------------------ios-------------------------------------------------

proj.ios_mac/Pods/*
proj.ios_mac/DerivedData/
/proj.ios_mac/.idea
#!/proj.ios_mac
#/proj.ios_mac/*
#!proj.ios_mac/mac
/proj.ios_mac/DerivedData
/proj.ios_mac/DerivedData/*

#----------------------------------------------android-------------------------------------------------

/proj.android/.idea/*
/proj.android/.gradle/*
/proj.android/gradle/*

/proj.android/app/.externalNativeBuild/*
/proj.android/app/assets/*
/proj.android/app/build/*
/proj.android/app/obj/*

/proj.android/app/libs/armeabi/libcocos2dcpp.so
/proj.android/app/libs/armeabi/libMyGame.so
/proj.android/app/libs/armeabi/libsafejni.so
/proj.android/app/libs/armeabi-v7a/libMyGame.so
/proj.android/app/libs/x86/libMyGame.so
/proj.android/app/.cxx/*
/proj.android/app/jni/fcm/*
/proj.android/app/release/*
/proj.android/app/debug/*
#----------------------------------------------windows-------------------------------------------------

/proj.win32/Debug.win32/*
/proj.win32/Release.win32/*
proj.win32/Debug/GAFPlayer.lib
proj.win32/Release/
/proj.win32/Debug
/proj.win32/game.aps
proj.win32/ipch/

#----------------------------------------------cocos2d lib-------------------------------------------------

cocos2d/cocos/platform/android/java/libs/gps/build/*
/cocos2d/cocos/platform/android/libcocos2dx/build
/cocos2d/cocos/2d/Debug.win32/*
/cocos2d/cocos/2d/Release.win32/*
/cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
/cocos2d/cocos/platform/android/java/libs/gps
cocos2d/external/recast/proj.win32/Release.win32/
cocos2d/external/recast/proj.win32/Debug.win32/
cocos2d/external/gaf/Library/Release/
cocos2d/external/gaf/Library/Debug/
cocos2d/external/Box2D/proj.win32/Release.win32/
cocos2d/external/Box2D/proj.win32/Debug.win32/
cocos2d/external/gaf/Library/Debug/*
cocos2d/cocos/editor-support/spine/proj.win32/Release.win32/libSpine.tlog/CL.write.1.tlog
cocos2d/cocos/editor-support/spine/proj.win32/Release.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
/cocos2d/tools/bindings-generator
/cocos2d/tools/cocos2d-console
/cocos2d/tools/fbx-conv/win
/cocos2d/tools/jenkins-scripts
/cocos2d/tools/make-package
/cocos2d/tools/tojs
/cocos2d/tools/tolua
/cocos2d/tools/travis-scripts
/cocos2d/tools/simulator/libsimulator/proj.ios_mac/build

#----------------------------------------------common-------------------------------------------------

.DS_Store
/libcocos2d iOS.a

*.udf

*.xcuserdatad

*.opensdf
*.sdf
*.db
*.opendb

*.tlog

*.user


zlib/contrib/vstudio/vc12/x86/ZlibStatRelease
glew/Release

zlib/contrib/*
*.log
*.obj
*.pdb
*.exe

.vs
/build-windows/*
/build_windows/*
/build_win_debug/*
/build_debug/*
/build_win_release/*
/build-macos
/build-osx

!/proj.win32/bin/
/proj.win32/bin/*

/pro.photoshop/*

/build/*
/x/*
